<div class="flex justify-center items-center mb-8 sm:mb-4">
  <div class="flex flex-row">
    <% menu_items.each do |menu_item| %>
      <%= link_to menu_item[:name], menu_item[:path], class: menu_item[:class] %>
    <% end %>
  </div>
</div>
